<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>day02</title>
</head>
<body>
    <!-- view -->
    <div id="app">
        <h1>用户名: {{ username }}</h1>
        <!-- 条件渲染 -->
        <h3 v-if="isVip">用户类型: VIP</h3>
        <!-- 注意v-if和v-else中间不能有其他的元素 -->
        <h3 v-else>用户类型: 普通用户</h3>

        <hr>
        <h1>用户允许登录时间</h1>
        <h3 v-if="age > 18">允许24小时登录</h3>
        <h3 v-else-if="age > 14">允许8小时登录</h3>
        <h3 v-else>允许4小时登录</h3>
    </div>
    <script src="js/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                username: "clarence",
                isVip: true,
                age: 14,
            }
        })
    </script>
</body>
</html>