<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>radio</title>
</head>
<body>
    <!-- 
        组合使用来实现互斥选择的效果, 需要v-model配合value来使用 
        数据picked的值与单选按钮的value值一致时, 就会选中该项
     -->
    <div id="app">
        <input type="radio" v-model="picked" value="html" id="html">
        <label for="html">HTML</label>
        <br>
        <input type="radio" v-model="picked" value="js" id="js">
        <label for="js">JavaScript</label>
        <br>
        <input type="radio" v-model="picked" value="css" id="css">
        <label for="css">CSS</label>
        <br>
        <p>选择的项是: {{ picked }}</p>
    </div>
    <script src="https://www.unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
             picked: 'js'
            }
        })
    </script>
</body>
</html>